@font-face {
  font-family: Roboto;
  src: url(assets/roboto-condensed.light.ttf);
  font-weight: 800;
}

@font-face {
  font-family: Economica;
  src: url(assets/economica-bold.ttf);
  font-weight: 800;
}

body{
  text-align: center;
  font-size: 20px;
  padding: 2.5%;
  font-family: 'Economica';
}

.title-fade-out{
  opacity: 0;
  animation: fade-out 2s;
}

.title-fade-in{
  opacity: 100;
  animation: fade-in 2s;
}

@keyframes fade-out{
  from {opacity: 100;}
  to {opacity: 0;}
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}    
}